name: MSBuild 

on:
  push:
    branches: [ "main" ]
    
jobs:
  build:
    permissions:
      contents: read
      
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: |
        chmod +x build.sh
        ./build.sh

    - name: Build docker
      run: |
        cd docker
        docker build -f network --platform linux/amd64 -t odin:dva .
        docker images
        docker save -o odin_dva.zip odin:dva

    - name: Upload server application
      uses: actions/upload-artifact@v4
      with:
        name: dock
        path: docker/odin_dva.zip
